{% extends "main.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="card auth-card m-4">
            <div class="card-body">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "CHANGE PASSWORD" %}{% endif %}</h1>
                <hr>
                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                 {% else %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="primaryAction auth-btn btn hover m-2" type="submit">{% trans "CHANGE PASSWORD" %}</button>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
  </div>

{% endblock %}
