{% extends "main.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="card auth-card m-4">
            <div class="card-body">
                <h1>{% trans "Sign Up Closed" %}</h1>
                <hr>
                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
        </div>
    </div>
  </div>

{% endblock %}
