{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li class="yellow">
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     > {{brand.name}}&nbsp;</a>
</li>

{% endfor %}
{% endif %}
  {% if provider.name == "Google" %}
  <ul class="d-inline-block auth-list">
    <li class="">
      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img src="{% static 'images/site/google_logo.webp' %}" class="d-inline social-logo" alt="Google logo"></a>
    </li>
</ul>
  {% else %}
  <ul class="d-inline-block auth-list">
    <li class="">
      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img src="{% static 'images/site/GitHub_Logo.webp' %}" class="social-logo" alt="Google logo"></a>
    </li>
</ul>

  {% endif %}
{% endfor %}
