{% extends 'main.html' %}
{% load static %}

{% block content %}

<main>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-5 col-lg-4 mb-3">
                <div class="card big-card mt-3">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center">
                            <h3 class="card-title mb-1">{{ meme.title }}</h3>
                            <img src=" {{ meme.meme_image_url }}" alt="Meme image" class="card-img-top rounded-2 img-thumbnail img-small"/>
                            <hr class="m-1">
                            {% if request.user.is_authenticated and meme.uploader.username == request.user.username %}
                                <div class="row d-grid gap-2 d-flex justify-content-center flex-nowrap">
                                    <a class="btn btn-sm btn-outline-dark col-5 me-1 me-lg-3 text-nowrap" href="{% url 'update-meme' meme.id %}"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
                                    <a class="btn btn-sm btn-outline-danger col-6 text-nowrap" href="{% url 'delete-meme' meme.id %}"><i class="fa-solid fa-trash-can"></i> Delete</a>
                                </div>
                            {% endif %}
                            <hr class="m-1">
							{% if request.user.is_authenticated %}
							<div class="row-col-1 d-flex justify-content-end">
								<a role="button" class="btn report text-end p-0 pe-1"><i class="fa-regular fa-flag"></i> Report Meme!</a>
							</div>
							{% else %}
							<div class="row-col-1 d-flex justify-content-end">
								<a role="button" class="btn report text-end p-0 pe-1" href="{% url 'account_login' %}?next={{request.path}}"><i class="fa-regular fa-flag"></i> Please <span class="active-link">login</span> to report Meme!</a>
							</div>
							{% endif %}
                        </div>
                    </div>
                </div>
                <div class="card big-card mt-3">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-6 d-flex justify-content-start">
                                <div class="col-2 text-nowrap mb-2"><i class="fa-solid fa-square-up-right yellow"></i> Uploaded By:</div>
                            </div>    
                            <div class="col-6">
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <p class="card-text"><a href="{% url 'single_user' meme.uploader.id %}" class="card-link yellow">{{ meme.uploader.username }}</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <p class="report mt-1">{{ meme.created|date:"d/m/y" }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card big-card mt-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 text-nowrap"><i class="fa-solid fa-tags fa-rotate-90 yellow"></i> Tags:</div>
                            <div class="col-9">
                                {% for tag in meme.tags.all %}
                                <span class="tag text-nowrap">{{tag}}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-around">
                            <button class="col-4 btn btn" href=""><i class="fa-regular fa-face-smile-beam yellow"></i>&nbsp;{{ meme.total_smiley_face }}</button>
                            <button class="col-4 btn btn" href=""><i class="fa-regular fa-face-frown-open yellow"></i>&nbsp;</button>
                        </div>
                    </div>
                </div>
                <div class="card big-card mt-3">
                    <div class="card-body">
                        <div class="row-col-1 d-flex justify-content-center">
                            <a type="button" class="btn btn-outline-dark ps-4 pe-4 mt-0 me-1 text-nowrap gray" href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-angles-left"></i> GO BACK</a>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-10 col-md-7 col-lg-8 mt-md-3">
                <div class="card big-card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <h3 class="m-1"><i class="fa-regular fa-comment yellow"></i> Comments:&nbsp;0</h3> 
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}