{% extends 'main.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<main>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-5 col-lg-4 mb-3">
                <div class="card big-card mt-3">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center">
                            <h3 class="card-title mb-1">{{ meme.title }}</h3>
                            <img src=" {{ meme.meme_image_url }}" alt="Meme image" class="card-img-top rounded-2 img-thumbnail img-small"/>
                            <hr class="m-1">
                            {% if request.user.is_authenticated and meme.uploader.username == request.user.username %}
                                <div class="row d-grid gap-2 d-flex justify-content-center flex-nowrap">
                                    <a class="btn btn-sm btn-outline-dark col-5 me-1 me-lg-3 text-nowrap" href="{% url 'update-meme' meme.id %}"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
                                    <a class="btn btn-sm btn-outline-danger col-6 text-nowrap" href="{% url 'delete-meme' meme.id %}"><i class="fa-solid fa-trash-can"></i> Delete</a>
                                </div>
                            {% endif %}
                            <hr class="m-1">
							{% if request.user.is_authenticated %}
							<div class="row-col-1 d-flex justify-content-end">
								<a role="button" class="btn report text-end p-0 pe-1"><i class="fa-regular fa-flag"></i> Report Meme!</a>
							</div>
							{% else %}
							<div class="row-col-1 d-flex justify-content-end">
								<a role="button" class="btn report text-end p-0 pe-1" href="{% url 'account_login' %}?next={{request.path}}"><i class="fa-regular fa-flag"></i> Please <span class="active-link">login</span> to report Meme!</a>
							</div>
							{% endif %}
                        </div>
                    </div>
                </div>
                <div class="card big-card mt-3">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-12 col-md-6 d-flex justify-content-md-start">
                                <div class="col-2 text-nowrap mb-2"><i class="fa-solid fa-square-up-right yellow"></i> Uploaded By:</div>
                            </div>    
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col d-flex justify-content-md-end">
                                        <p class="card-text"><a href="{% url 'single_user' meme.uploader.id %}" class="card-link yellow"><i class="fa-regular fa-circle-user"></i> {{ meme.uploader.username }}</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-md-end">
                                        <p class="report mt-1">{{ meme.created|date:"d/m/y" }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card big-card mt-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 text-nowrap"><i class="fa-solid fa-tags fa-rotate-90 yellow"></i> Tags:</div>
                            <div class="col-9">
                                {% for tag in meme.tags.all %}
                                <span class="tag text-nowrap">{{tag}}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-around">
                            <a class="col-4 btn btn" href="{% url 'smiley-face' meme.id %}"><i class="fa-regular fa-face-smile-beam yellow"></i>&nbsp;{{ meme.total_smiley_face }}</a>
                            <a class="col-4 btn btn" href="{% url 'sad-face' meme.id %}"><i class="fa-regular fa-face-frown-open yellow"></i>&nbsp;{{ meme.total_sad_face }}</a>
                        </div>
                    </div>
                </div>
                <div class="card big-card mt-3">
                    <div class="card-body">
                        <div class="row-col-1 d-flex justify-content-center">
                            <a type="button" class="btn btn-outline-dark ps-4 pe-4 mt-0 me-1 text-nowrap gray" href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-angles-left"></i> GO BACK</a>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-10 col-md-7 col-lg-8 mt-md-3">
                <div class="card big-card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <h3 class="m-1"><i class="fa-regular fa-comment yellow"></i> Comments:&nbsp;{{ meme.comment.all.count }}</h3> 
                        </div>
                        <hr>
                        <div class="row">
                            {% if request.user.is_authenticated %}
                                {% if not meme.comment.all %}
                                    <h4>No comments yet...</h4>
                                {% else %}
                                    {% for comment in meme.comment.all %}
                                        <div class="row">
                                            <div class="col-md-12 col-lg-3">
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-center">
                                                        <img class="img-thumbnail me-2 commentator-img" src="{{ comment.user.user_image_url }}" alt="Commentator image">
                                                        <p class="card-text text-nowrap"><a href="{% url 'single_user' comment.user.id %}" class="card-link yellow"><i class="fa-regular fa-circle-user"></i> {{ comment.user.username }}</a></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-center">
                                                        <p class="report mt-1">{{ comment.created|date:"d/m/y H:i" }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 p-0 d-flex justify-content-center">
                                                        {% if request.user.is_authenticated and comment.user.username == request.user.username %}
                                                        <a class="btn btn-xs btn-outline-danger mb-4 text-nowrap" href="{% url 'delete-comment' comment.id %}"><i class="fa-solid fa-trash-can"></i> Delete</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-9">
                                                <p class="card-text">{{ comment.comment|linebreaks }}</p>
                                            </div>
                                        </div>
                                    <hr>
                                    {% endfor %}
                                {% endif %}

                                <div class="row">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col d-flex justify-content-center">
                                                    {{ form|crispy }}
                                                    {% comment %} <label for="message-body"></label>
                                                    <textarea type="text" id="message-body" name="message-body" class="form-control comment-box" placeholder="Please leave your comment here..."></textarea> {% endcomment %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col d-flex justify-content-center">
                                                    <button role="button" type="submit" value="COMMENT" href="{% url 'meme' meme.id %}" class="btn auth-btn mt-4 mb-4 hover">COMMENT</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                            <h4>Please <a class="active-link" href="{% url 'account_login' %}?next={{request.path}}">login</a> to leave a comment...</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</main>

{% endblock content %}