{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="card auth-card m-4">
        <div class="card-body">
            <h1>DELETE?</h1>
            <hr>
            <div class="row ">
                <p>Are you sure you want to delete profile "<span class="yellow">{{profile}}</span>"?</p>
                <p>This can't be undone!</p>
            </div>
            <hr>
            <div class="row d-flex flex-nowrap">
                <form class="d-flex justify-content-around" method="post" action="">
                    {% csrf_token %}
               
                    <a type="button" class="btn btn-outline-success ps-4 pe-4 mt-0 me-1 text-nowrap" href="{% url 'single_user' request.user.userprofile.id %}"><i class="fa-solid fa-angles-left"></i> BACK</a>
                    <button type="submit" class="btn btn-outline-danger mt-0 text-nowrap"value=""><i class="fa-solid fa-trash-can"></i> CONFIRM</button>
                </form>
            </div> 
        </div>
    </div>
</div>

{% endblock content %}