{% extends 'main.html' %}

{% block content %}

   <div class="container">
		<div class="row gy-3">
            <div class="col-12 d-flex justify-content-center">

                {% for profile in profiles %}
                <div class="custom-card col-md-6 col-lg-4 d-flex justify-content-center">
                    <div class="card m-4 w-75">
                        <div class="card-body">
                            <img src="{{ profile.user_img.url}}" class="card-img-top rounded-2" alt="...">
                            <a href="#" class="card-link yellow">{{ profile.username}}</a>
                            <h5 class="card-title">{{ profile.first_name}} {{ profile.last_name }}</h5>
                            <hr>
                            <div class="row flex-nowrap">
                                <div class="col-1"><i class="fa-regular fa-address-card yellow"></i></div>
                                <div class="col-11"><p class="card-text">{{ profile.bio|truncatechars:"60"}}</p></div>
                            </div>
                            <hr>
                            <div class="row flex-nowrap">
                                <div class="col-1"><i class="fa-regular fa-image yellow fs-6"></i></div>
                                <div class="col-11">Memes Uploaded: 16</div>
                            </div>
                            <hr>
                            <div class="row flex-nowrap">
                                <div class="col-1"><i class="fa-solid fa-plug yellow fs-5"></i></div>
                                <div class="col-11">Last active: 1 day ago</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
	</div>

{% endblock content %}
