{% extends 'main.html' %}

{% load static %}

{% block content %}

   <div class="container mb-4">
		<div class="row">
            <div class="col-12 d-flex justify-content-center flex-wrap">

                {% for profile in profiles %}
                <div class="col-sm-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card small-card m-4 h-100">
                        <div class="card-body d-grid align-content-between">
                            <img src="{{ profile.user_img.url}}" class="card-img-top rounded-2 img-thumbnail" alt="User Image">
                            <a href="{% url 'single_user' profile.id %}" class="card-link yellow"><i class="fa-regular fa-circle-user"></i> {{ profile.username}}</a>
                            {% if profile.first_name != None %} <h5 class="card-title">{{ profile.first_name|capfirst}} {% else %} <h5>&nbsp;</h5> {% endif %} {% if profile.last_name != None %} {{ profile.last_name|capfirst }}</h5>{% endif %}
                            <hr class="mt-0">
                            <div class="row flex-nowrap">
                                <div class="col-1"><i class="fa-regular fa-address-card yellow"></i></div>
                                <div class="col-11"><p class="card-text">Bio: {{ profile.bio|truncatechars:"60"}}</p></div>
                            </div>
                            <hr>
                            <div class="row flex-nowrap">
                                <div class="col-1"><i class="fa-solid fa-square-up-right yellow fs-5"></i></div>
                                <div class="col-11">Uploads: {{upload_count.uploaded_memes}}</div>
                            </div>
                            <hr>
                            <div class="row flex-nowrap">
                                <div class="col-1"><i class="fa-solid fa-eye yellow fs-5"></i></div>
                                <div class="col-11">Last Seen: {{ profile.user.last_login|date:"d/M/Y" }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
	</div>

{% endblock content %}
