{% load static %}

<main>
    <div class="container-fluid">
        <div class="col-12 banner">
            <div class="row">
                <div class="col-12 text-center banner-text">
                    <h2 class="mt-2">Welcome to TechieMeme!</h2>
					<h5>Memes for the modern geek.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center m-2">
                    {% if request.user.is_authenticated %}
                    <a type="button" class="banner-btn btn btn-dark btn-lg" href="{% url 'upload_meme' %}" role="button"><i class="fa-solid fa-plus white"></i>&nbsp;UPLOAD-MEME</a>
                    {% else %}
                    <a type="button" class="banner-btn btn btn-dark btn-lg" href="{% url 'account_signup' %}" role="button"><i class="fa-regular fa-circle-user"></i> SIGN UP AND JOIN THE FUN!</a>
                    {% endif %}
                </div>
            </div>
			<div id="carouselExampleControls" class="carousel m-0" data-bs-touch="true" data-bs-interval="carousel"> 
				<div class="carousel-inner">
					{% for meme in memes %}
							<div class="carousel-item {% if forloop.first %} active{% endif %} col-sm-6 col-lg-4 col-xl-3 mb-4">
								<div class="card small-card mx-3 h-100">
									<div class="card-body m-1 p-1 d-grid align-content-between">
										<a class="text-decoration-none gray" href="{% url 'meme' meme.id %}">
											<h6 class="card-title mb-1">{{ meme.title|truncatechars:"23" }}</h6>
											<img src="{{meme.meme_image_url}}" class="card-img rounded-2 img-small mb-1 mx-auto d-block" alt="User Meme">
										</a>
										<div class="row-col-1 d-flex justify-content-between">
											<div><i class="fa-solid fa-square-up-right yellow"></i> by: <a href="{% url 'single_user' meme.uploader.id %}" class="card-link yellow"><i class="fa-regular fa-circle-user"></i> {{ meme.uploader }}</a></div>
											<div class="report text-right mt-1">{{ meme.created|date:"d/m/y" }}</div>
										</div>
										<div class="row">
											<div class="col-12 mb-1">
												{% for tag in meme.tags.all %}
													<span class="tag text-nowrap">{{tag}}</span>
												{% endfor %}
											</div>
										</div>
										<hr class="m-0">
										<div class="row">
											<a class="col-4 btn btn" href="{% url 'smiley-face' meme.id %}"><i class="fa-regular fa-face-smile-beam yellow"></i>&nbsp;{{ meme.total_smiley_face }}</a>
											<a class="col-4 btn btn" href="{% url 'sad-face' meme.id %}"><i class="fa-regular fa-face-frown-open yellow"></i>&nbsp;{{ meme.total_sad_face }}</a>
											<a class="col-4 btn btn" href="{% url 'meme' meme.id %}"><i class="fa-regular fa-comment yellow"></i>&nbsp;{{ meme.comment.all.count }}</a>
										</div>
										<hr class="m-0">
										{% if request.user.is_authenticated %}
										<div class="row-col-1 d-flex justify-content-end">
											<a role="button" class="btn report text-end p-0 pe-1" href=""><i class="fa-regular fa-flag"></i> Report Meme!</a>
										</div>
										{% else %}
										<div class="row-col-1 d-flex justify-content-end">
											<a role="button" class="btn report text-end p-0 pe-1" href="{% url 'account_login' %}?next={{request.path}}"><i class="fa-regular fa-flag"></i> Please <span class="active-link">login</span> to report Meme!</a>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
							{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
        </div>
    </div>
</main> 


