{% load static %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col col-1"><i class="fa-solid fa-chevron-left yellow"></i></div>
            <div class="col">
                <div class="row">
                    <div>&#xa9; Copyright TechieMeme 2023</div>
                    <div>For Educational Purposes Only</div>
                </div>
            </div>
            <div class="col col-1"><i class="fa-solid fa-chevron-right yellow"></i></div>
            <div class="col"></div>
        </div>
    </div>
</footer>