{% load static %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row footer-text">
            <div class="col-12 d-flex justify-content-center">
                <p class="footer-text"><i class="fa-solid fa-chevron-left yellow big-chevron"></i> <span class="yellow">&#xa9;</span> <span class="logo-text"> 2023 Copyright TechieMeme</span> <i class="fa-solid fa-chevron-right big-chevron yellow"></i></p>
            </div>
        </div>
        <div class="row d-none d-lg-flex">
            <div class="col-6">
                <p class="footer-text-small">For educational purposes only. <i class="fa-solid fa-graduation-cap yellow"></i></p>
            </div>
            <div class="col-6 d-lg-flex justify-content-end">
                <p class="footer-text-small"><i class="fa-solid fa-envelope yellow"></i> Have a question or found a bug? Contact the <a class="yellow" href="#">developer</a></p>
            </div>
        </div>
        <div class="row d-lg-none">
            <div class="col-12 d-flex justify-content-center">
                <p class="footer-text-small"><i class="fa-solid fa-envelope yellow"></i> <span class="d-none d-sm-inline-flex">Have a question or found a bug?</span> Contact the <a class="yellow" href="#">developer</a></p>
            </div>
        </div>
        <div class="row d-lg-none">
            <div class="col-12 d-flex justify-content-center">
                <p class="footer-text-small">For educational purposes only. <i class="fa-solid fa-graduation-cap yellow"></i></p>
            </div>
        </div>
    </div>
</footer>