{% load static %}

<header class="p-2 ">
    <nav class="navbar navbar-expand-lg text-nowrap" aria-label="Fifth navbar example">
        <div class="container-fluid">
            <a href="{% url 'home_page' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <div class="img-fluid logo-image"><i class="fa-solid fa-chevron-left yellow"></i><span class="logo-text">TECHIE / MEME</span><i class="fa-solid fa-chevron-right yellow"></i></div>
            </a>
            <a class="navbar-toggler " data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="hamburger-icon btn btn-outline-light me-2 fa-solid fa-bars hover"></i></span>
            </a>

            <div class="collapse navbar-collapse " id="navbarsExample05">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'home_page' %}active-link{% endif %} navbar-item nav-link hover" aria-current="page" href="{% url 'home_page' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'memes' or request.resolver_match.url_name == 'meme'  %}active-link{% endif %} navbar-item nav-link hover" href="{% url 'memes' %}">MEMES</a>
                </li>
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'user_profiles' or request.resolver_match.url_name == 'single_user' %}active-link{% endif %} nav-link navbar-item hover" href="{% url 'user_profiles' %}">USERS</a>
                </li>
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'upload_meme' or request.resolver_match.url_name == 'upload_meme' %}active-link{% endif %} nav-link navbar-item hover" href="{% url 'upload_meme' %}"><i class="fa-solid fa-plus yellow"></i>UPLOAD-MEME</a>
                </li>
                </ul>
                <div class="text-end mb-3">
                    {% if request.user.is_authenticated %}
                        <div class="loggedin btn me-2 navbar-item">
                            <a class="yellow" href="{% url 'single_user' request.user.userprofile.id %}"><i class="fa-regular fa-circle-user"></i> {{ request.user.username}}</a>
                        </div>
                        <a href="{% url 'account_logout' %}" class="btn btn-outline-light me-2 hover navbar-item">LOGOUT</a>
                        {% else %}
                        <a href="{% url 'account_login' %}?next={{request.path}}" class="btn btn-outline-light me-2 hover navbar-item">LOGIN</a>
                        <a href="{% url 'account_signup' %}" class="btn btn-outline-light me-2 hover navbar-item">SIGN-UP</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center justify-content-md-end">
            <form class="col-10 col-md-6 col-lg-4 mb-1" role="search" action="{% url 'memes' %}" method="get">
                <input id="search_form" type="search" class="form-control" value="{{search_form}}" placeholder="Search Memes by title, tag or uploader" name="search_form" aria-label="Search">
            </form>
        </div>  
</header>
